<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous'>
    <link rel='stylesheet' href='css/styles.css'>
    <title>  </title>
    <style>
        .project-title{
            font-size: 20px;
        }
    </style>
</head>
<body>

    <div class="mx-5 mt-5">
        <div class="row">
            <div class="col-md-3">
                <section class="border p-4 shadow-sm">
                    <div class="d-flex flex-column">
                        <h4 class="mb-3">Filters</h4>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between mb-1">
                                <h6>Project Type</h6>
                                <a href="">clear</a>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Hourly rate
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Fixed Price
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6>Fixed Price</h6>
                                <a href="">clear</a>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-column mb-2">
                                    <div>min</div>
                                    <input class="form-control form-control-sm" type="number" min="0">
                                </div>
                                <div class="d-flex flex-column">
                                    <div>max</div>
                                    <input class="form-control form-control-sm" type="number" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6>Hourly Rate</h6>
                                <a href="">clear</a>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-column mb-2">
                                    <div>min</div>
                                    <input class="form-control form-control-sm" type="number" min="0">
                                </div>
                                <div class="d-flex flex-column">
                                    <div>max</div>
                                    <input class="form-control form-control-sm" type="number" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex justify-content-between">
                                <h6>Skill</h6>
                                <a href="">clear</a>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        PHP
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Java
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        C++
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Django
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Bootstrap
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        reactJS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        nextJS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Python
                                    </label>
                                </div>
                                <a class="" href="">+16 more</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-9">
                <section class="shadow-sm">
                    <div class="px-4 py-2 border d-flex justify-content-between">
                        <div>
                            <b class="">Total Result:</b> 1-20 of 2k results
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="mr-3">Sort</div>
                            <select class="form-control form-control-sm" aria-label="Default select example">
                              <option value="" selected>Latest</option>
                              <option value="">Oldest</option>
                              <option value="">Lowest Price</option>
                              <option value="">Highest Price</option>
                              <option value="">Fewest Bids</option>
                              <option value="">Most Bids</option>
                            </select>
                        </div>
                    </div>
                    <div class="p-4 border">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <div class="project-title">Project Name</div>
                                <div class="d-flex">
                                    <h4 class="text-muted mr-5">39 bids</h4>
                                    <h4 class="text-muted">$154 USD</h4>
                                </div>
                            </div>
                            <div class="d-flex">
                                <small class="text-muted">budget $30 - $250 USD</small>
                            </div>

                            <div class="my-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime repellat aut recusandae, sunt ipsam ad dolorem ipsa ex dicta iste dolorum mollitia fugiat laudantium nihil nulla illum quas eos tenetur placeat voluptates. Labore nulla omnis aut, blanditiis inventore architecto neque animi, tenetur dolorum reprehenderit eos sapiente et quos velit...
                            </div>
                            <div class="d-flex mb-2">
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> HTML</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> CSS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> JS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Bootstrap</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Django</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> MySQL</p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div class="text-muted"> <span>6 minutes ago</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 border">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <div class="project-title">Project Name</div>
                                <div class="d-flex">
                                    <h4 class="text-muted mr-5">39 bids</h4>
                                    <h4 class="text-muted">$154 USD</h4>
                                </div>
                            </div>
                            <div class="d-flex">
                                <small class="text-muted">budget $30 - $250 USD</small>
                            </div>

                            <div class="my-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime repellat aut recusandae, sunt ipsam ad dolorem ipsa ex dicta iste dolorum mollitia fugiat laudantium nihil nulla illum quas eos tenetur placeat voluptates. Labore nulla omnis aut, blanditiis inventore architecto neque animi, tenetur dolorum reprehenderit eos sapiente et quos velit...
                            </div>
                            <div class="d-flex mb-2">
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> HTML</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> CSS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> JS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Bootstrap</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Django</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> MySQL</p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div class="text-muted"> <span>6 minutes ago</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 border">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <div class="project-title">Project Name</div>
                                <div class="d-flex">
                                    <h4 class="text-muted mr-5">39 bids</h4>
                                    <h4 class="text-muted">$154 USD</h4>
                                </div>
                            </div>
                            <div class="d-flex">
                                <small class="text-muted">budget $30 - $250 USD</small>
                            </div>

                            <div class="my-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime repellat aut recusandae, sunt ipsam ad dolorem ipsa ex dicta iste dolorum mollitia fugiat laudantium nihil nulla illum quas eos tenetur placeat voluptates. Labore nulla omnis aut, blanditiis inventore architecto neque animi, tenetur dolorum reprehenderit eos sapiente et quos velit...
                            </div>
                            <div class="d-flex mb-2">
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> HTML</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> CSS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> JS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Bootstrap</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Django</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> MySQL</p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div class="text-muted"> <span>6 minutes ago</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 border">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <div class="project-title">Project Name</div>
                                <div class="d-flex">
                                    <h4 class="text-muted mr-5">39 bids</h4>
                                    <h4 class="text-muted">$154 USD</h4>
                                </div>
                            </div>
                            <div class="d-flex">
                                <small class="text-muted">budget $30 - $250 USD</small>
                            </div>

                            <div class="my-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime repellat aut recusandae, sunt ipsam ad dolorem ipsa ex dicta iste dolorum mollitia fugiat laudantium nihil nulla illum quas eos tenetur placeat voluptates. Labore nulla omnis aut, blanditiis inventore architecto neque animi, tenetur dolorum reprehenderit eos sapiente et quos velit...
                            </div>
                            <div class="d-flex mb-2">
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> HTML</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> CSS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> JS</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Bootstrap</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> Django</p>
                                <p class="mr-3 mb-0 d-flex align-items-center" style="font-size: 15px;"><i style="font-size: 8px;" class="mr-1 fa fa-solid fa-circle"></i> MySQL</p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div class="text-muted"> <span>6 minutes ago</span></div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>


    <script src='http://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous'></script>
</body>
</html>