<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous'>
    <link rel='stylesheet' href='css/styles.css'>
    <title> Project Details </title>

    <style>
        .chat-circle-icon:hover{
            color: white !important;
        }
        .chat-circle-icon{
            color: "#28A745";
        }
    </style>
</head>
<body>

    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center">
            <div class="h4">Full Stack Web Application (like urbancompany) <sup class="text-success">open</sup></div>
            <div class="d-flex">
                <div class="d-flex flex-column align-items-center mr-5">
                    <small class="text-muted mb-1">Bids</small>
                    <div class="h5">23</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <small class="text-muted mb-1">Average Bids</small>
                    <div class="h5"><i class="fa fa-sm fa-solid fa-indian-rupee-sign mr-1"></i>35,457 INR</div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link text-dark active" aria-current="page" href="#details_tab">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#proposal_tab">Proposals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#files_tab">Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#status_tab">more</a>
            </li>
        </ul>
        <div id="details_tab" class="tab-pane fade show active">
            <div class="row">
                <div class="col-md-9">
                    <div class="border shadow-sm p-4 mb-2">
                        <div class="d-flex flex-wrap justify-content-between" id="project_heading">
                            <div class="h5">Project Details</div>
                            <div class="h5"><i class="fa fa-sm fa-solid fa-indian-rupee-sign mr-1"></i>1,250 - 2500 INR</div>
                        </div>
                        <div class="d-flex mb-4">
                            <small class="ml-auto"><i class="mr-1 fa fa-regular fa-clock"></i>BIDDING ENDS IN 6 DAYS, 23 HOURS</small>
                        </div>

                        <div class="mb-4" id="project_description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, ex?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sint adipisci assumenda optio minima consectetur totam deserunt, quaerat perferendis accusantium facilis, laborum error itaque quisquam molestias numquam soluta voluptatum tempora illum odio nesciunt quas distinctio fuga illo? Consequuntur, amet quam?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatum autem odio. Consequuntur perferendis odio maiores id magni quo amet.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laborum ducimus quo voluptatem quisquam ut reiciendis earum aspernatur, maiores ipsa rerum dolor aut totam explicabo, expedita repellat facere, sint ullam!s</p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>

                        <div id="skills_required">
                            <div class="h5 mb-3">Skills Required</div>
                            <div class="d-flex">
                                <span class="border px-2 py-1 mr-2" style="border-radius: 15px;">Django</span>
                                <span class="border px-2 py-1 mr-2" style="border-radius: 15px;">Bootstrap</span>
                                <span class="border px-2 py-1 mr-2" style="border-radius: 15px;">HTML</span>
                                <span class="border px-2 py-1 mr-2" style="border-radius: 15px;">CSS</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <!-- <div class="border shadow-sm p-4">
                        <div class="mb-4">
                            <div class="h6 mb-3">About the Client</div>
                            <div class="d-flex align-items-center"><i class="fa-solid fa-location-dot mr-2"></i> Ahmedabad</div>
                        </div>
                        <div class="mb-4">
                            <div class="h6 mb-3">Client Verification</div>
                            <div class="d-flex align-items-center mb-2"><i class="fa-solid fa-address-card mr-2 text-success"></i> Identity verified</div>
                            <div class="d-flex align-items-center mb-2"><i class="fa-solid fa-shield mr-2"></i> Payment verified</div>
                            <div class="d-flex align-items-center mb-2"><i class="fa-solid fa-credit-card mr-2"></i> Deposit made</div>
                            <div class="d-flex align-items-center mb-2"><i class="fa-solid fa-envelope mr-2 text-success"></i> Email verified</div>
                            <div class="d-flex align-items-center mb-2"><i class="fa-solid fa-user mr-2 text-success"></i> Profile completed</div>
                            <div class="d-flex align-items-center mb-2"><i class="fa-solid fa-phone mr-2 text-success"></i> Phone verified</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <div id="proposal_tab" class="tab-pane fade d-none">
            <div class="border rounded shadow-sm p-4 mb-2">
                <div class="row mb-3">
                    <div class="col-md-9">
                        <div class="d-flex">
                            <img class="mr-3 rounded" src="../../img/author-1.png" style="width: 96px; height: 96px;" alt="">
                            <div class="d-flex flex-column justify-content-center">
                                <div class="h5">Vaibhav Paliwal</div>
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div>Cloud Architect | Web Developer | Programmer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="h3"><i class="fa fa-sm fa-solid fa-indian-rupee-sign mr-1"></i>1200.00 INR</div>
                            <div>in 7 days</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 mb-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, veniam atque! Asperiores provident itaque, fugiat ipsa obcaecati atque suscipit doloribus voluptatum consequatur perferendis eaque possimus natus corrupti optio quasi, nemo dicta cum modi minima facere sunt maxime quaerat! Pariatur neque maxime asperiores nobis laudantium libero non sapiente in beatae ex.
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="mb-2">Replies within an hour</div>
                            <div class="d-flex">
                                <button class="btn btn-outline-success w-100 mr-2 d-flex align-items-center justify-content-center">
                                    <i style="font-size: 8px;" class="fa-solid fa-circle mr-2 chat-circle-icon"></i> Chat</button>
                                <button class="btn btn-success w-100">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded shadow-sm p-4 mb-2">
                <div class="row mb-3">
                    <div class="col-md-9">
                        <div class="d-flex">
                            <img class="mr-3 rounded" src="../../img/author-2.png" style="width: 96px; height: 96px;" alt="">
                            <div class="d-flex flex-column justify-content-center">
                                <div class="h5">Ketul Madhwani</div>
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div>Cloud Architect | Web Developer | Programmer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="h3"><i class="fa fa-sm fa-solid fa-indian-rupee-sign mr-1"></i>800.00 INR</div>
                            <div>in 7 days</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 mb-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, veniam atque! Asperiores provident itaque, fugiat ipsa obcaecati atque suscipit doloribus voluptatum consequatur perferendis eaque possimus natus corrupti optio quasi, nemo dicta cum modi minima facere sunt maxime quaerat! Pariatur neque maxime asperiores nobis laudantium libero non sapiente in beatae ex.
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="mb-2">Replies within an hour</div>
                            <div class="d-flex">
                                <button class="btn btn-outline-success w-100 mr-2 d-flex align-items-center justify-content-center">
                                    <i style="font-size: 8px;" class="fa-solid fa-circle mr-2 chat-circle-icon"></i> Chat</button>
                                <button class="btn btn-success w-100">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded shadow-sm p-4 mb-2">
                <div class="row mb-3">
                    <div class="col-md-9">
                        <div class="d-flex">
                            <img class="mr-3 rounded" src="../../img/author-3.png" style="width: 96px; height: 96px;" alt="">
                            <div class="d-flex flex-column justify-content-center">
                                <div class="h5">Mukund Agarwal</div>
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div>Cloud Architect | Web Developer | Programmer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="h3"><i class="fa fa-sm fa-solid fa-indian-rupee-sign mr-1"></i>1500.00 INR</div>
                            <div>in 7 days</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 mb-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, veniam atque! Asperiores provident itaque, fugiat ipsa obcaecati atque suscipit doloribus voluptatum consequatur perferendis eaque possimus natus corrupti optio quasi, nemo dicta cum modi minima facere sunt maxime quaerat! Pariatur neque maxime asperiores nobis laudantium libero non sapiente in beatae ex.
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="mb-2">Replies within an hour</div>
                            <div class="d-flex">
                                <button class="btn btn-outline-success w-100 mr-2 d-flex align-items-center justify-content-center">
                                    <i style="font-size: 8px;" class="fa-solid fa-circle mr-2 chat-circle-icon"></i> Chat</button>
                                <button class="btn btn-success w-100">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded shadow-sm p-4 mb-2">
                <div class="row mb-3">
                    <div class="col-md-9">
                        <div class="d-flex">
                            <img class="mr-3 rounded" src="../../img/author-4.png" style="width: 96px; height: 96px;" alt="">
                            <div class="d-flex flex-column justify-content-center">
                                <div class="h5">Dev Sanger</div>
                                <div class="d-flex">
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    <span><i class="fa fa-solid fa-star mr-1"></i></span>
                                    5.0
                                </div>
                                <div>Cloud Architect | Web Developer | Programmer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="h3"><i class="fa fa-sm fa-solid fa-indian-rupee-sign mr-1"></i>1800.00 INR</div>
                            <div>in 7 days</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 mb-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, veniam atque! Asperiores provident itaque, fugiat ipsa obcaecati atque suscipit doloribus voluptatum consequatur perferendis eaque possimus natus corrupti optio quasi, nemo dicta cum modi minima facere sunt maxime quaerat! Pariatur neque maxime asperiores nobis laudantium libero non sapiente in beatae ex.
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column">
                            <div class="mb-2">Replies within an hour</div>
                            <div class="d-flex">
                                <button class="btn btn-outline-success w-100 mr-2 d-flex align-items-center justify-content-center">
                                    <i style="font-size: 8px;" class="fa-solid fa-circle mr-2 chat-circle-icon"></i> Chat</button>
                                <button class="btn btn-success w-100">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="status_tab" class="tab-pane fade d-none">
            <div class="p-4">
                <div class="mb-4">
                    <div class="my-3" style="font-size: 20px;">Status Manager</div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Order Placed
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Hosting Started
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Project Completed
                        </label>
                    </div>
                </div>
                <button class="btn btn-danger"><span class="mr-1">Delete Project</span> <i class="fa fa-trash"></i></button>
            </div>
        </div>

        <div id="files_tab" class="tab-pane fade d-none">
            <div class="row p-4">
                <div class="col-6">
                    <p class="mb-0">Upload all the relevant files for Hoster (.zip)</p>
                    <small class="text-muted mb-3"></small>
                    <div class=" mt-3">
                        <label for="zip_file" class="border py-4 d-flex flex-column align-items-center border border-dark rounded" style="cursor: pointer;">
                            <i class="fa-3x fa fa-solid fa-file"></i>
                            <span class="text-success" id="zip_fileName"></span>
                            <input class="d-none" name="zip_file" id="zip_file" type="file" accept="application/zip">
                        </label>
                    </div>
                    <small class="text-muted">max file size = 20Mb</small>
                </div>
            </div>
        </div>
    </div>

    <script src='http://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous'></script>
    <script>
        $(document).ready(function(){
            $('.nav-tabs a').click(function(e){
                e.preventDefault();
                $(this).tab('show');
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            var tabs = document.querySelectorAll('.nav-tabs a');

            tabs.forEach(function(tab) {
                tab.addEventListener('click', function(e) {
                    e.preventDefault();
                    var targetTab = document.querySelector(this.getAttribute('href'));
                    var tabPanes = document.querySelectorAll('.tab-pane');


                    tabPanes.forEach(function(pane) {
                        console.log(pane)
                        pane.classList.add('d-none');
                    });

                    targetTab.classList.remove('d-none');
                });
            });
        });



        // Validation of file type and file size for source code
        let src_code = document.querySelector('#zip_file')
        let zip_fileName = document.querySelector("#zip_fileName")    // this is the green text which is displayed when we select a file

        src_code.addEventListener('change', function(){
            let mb = 1048576
            let file = src_code.files[0]
            if(file.size > 20*mb){
                alert("please keep file size under 20MB. Current File Size " + Math.ceil(file.size/mb) + "MB")
                src_code.value = "";
                zip_fileName.innerText = "";
            }
            else if(file.type != "application/x-zip-compressed"){
                alert('File type not Supported')
                src_code.value = "";
                zip_fileName.innerText = "";
            }
            else{
                zip_fileName.innerText = file.name;
            }
        });
    </script>

</body>
</html>
